body{
    background-color: #a9a9a9;
}
h2{
    color: #ff000f;
}

.pcg{
    color: darkturquoise;
    text-align: center;
}

.p1{
    text-align: justify;
}
#t1{
    text-align: center;
    color: darkkhaki;
}